.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 40px);
  border-bottom: 3px solid gray;
  background-color: black;
}

.station-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  color: white;
  border: 1px solid white;
}

.missile-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.station {
  display: grid;
  grid-template-columns: 10px 1fr 1fr;
  border: 1px solid white;
}

.station-selected {
  background-color: green;
  border: 1.5px solid black;
}

.station-not-selected {
  background-color: black;
  border: 1.5px solid black;
}

.station-ready {
  background-color: green;
}

.station-missile-text {
  color: white;
}
